In [1]:
import pandas as pd

In [2]:
from first_cycling_api import Race, RaceEdition

In [3]:
amstel_2019 = RaceEdition(race_id=9, year=2019) # The race_id comes from the race page URL
amstel_2019.results().results_table.head() # A pandas DataFrame of the race results

,Pos,Rider,Team,Time,UCI,Rider_ID,Rider_Country,Team_ID
0,01,Mathieu van der Poel,Corendon - Circus,6:28:18,500.0,16672,NED,13279
1,02,Simon Clarke,EF Education First,+ 00,400.0,568,AUS,13208
2,03,Jakob Fuglsang,Astana Pro Team,+ 00,325.0,264,DEN,13198
3,04,Julian Alaphilippe,Deceuninck - Quick Step,+ 00,275.0,12474,FRA,13206
4,05,Maximilian Schachmann,Bora - Hansgrohe,+ 00,225.0,16643,GER,13200

In [4]:
races = pd.DataFrame()
for i in range(1,5):
    Race = RaceEdition(race_id=i, year=2020)
    Race = Race.results().results_table
    Race["Race_ID"] = i
    races = races.append(Race)

In [5]:
races

,Pos,Rider,Team,Time,UCI,Rider_ID,Rider_Country,Team_ID,Race_ID
0,01,Richie Porte,Trek-Segafredo,20:37:08,500.0,563,AUS,17540.0,1
1,02,Diego Ulissi,UAE Team Emirates,+ 25,400.0,794,ITA,17541.0,1
2,03,Simon Geschke,CCC Team,+ 25,325.0,168,GER,17528.0,1
3,04,Rohan Dennis,INEOS Grenadiers,+ 25,275.0,2322,AUS,17536.0,1
4,05,Dylan van Baarle,INEOS Grenadiers,+ 25,225.0,7724,NED,17536.0,1
...,...,...,...,...,...,...,...,...,...
157,DNF,Alex Dowsett,Israel Start-Up Nation,NaN,NaN,1009,GBR,17628.0,4
158,DNF,Frederik Frison,Lotto-Soudal,NaN,NaN,16144,BEL,17532.0,4
159,DNF,Hector Carretero,Movistar,NaN,NaN,45082,ESP,17534.0,4
160,DNF,Gabriel Cullaigh,Movistar,NaN,NaN,37373,GBR,17534.0,4
161,DNF,Jasha SÃ¼tterlin,Team Sunweb,NaN,NaN,6414,GER,17539.0,4

In [6]:
races.head()

,Pos,Rider,Team,Time,UCI,Rider_ID,Rider_Country,Team_ID,Race_ID
0,01,Richie Porte,Trek-Segafredo,20:37:08,500.0,563,AUS,17540.0,1
1,02,Diego Ulissi,UAE Team Emirates,+ 25,400.0,794,ITA,17541.0,1
2,03,Simon Geschke,CCC Team,+ 25,325.0,168,GER,17528.0,1
3,04,Rohan Dennis,INEOS Grenadiers,+ 25,275.0,2322,AUS,17536.0,1
4,05,Dylan van Baarle,INEOS Grenadiers,+ 25,225.0,7724,NED,17536.0,1